# Dataset
data/train*
data/test*
data/validation*

# Jupyter Notebooks
*.ipynb
.ipynb_checkpoints/

# Python cache and logs
*.py[cod]
*.log

# Virtual environment
venv/
.venv/

# IDE
.idea/
.vscode/

# Mac
**/.DS_Store
